body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    height: 100%;

}
#toppest {
    background: #f0f0f0;
    border-bottom: 1px solid gray;
    line-height: 18px;
    font-size: .5em;


}

#nav {
    background: #cee3f8;
    border-bottom: 1px solid #5f99cf;
    height: 45px;
    position: relative;
    white-space: nowrap;

}

#content {
    height: 100%;
}

#content-left{
    width: 100%;
    background: white;
    height: 100%;

}

.page-content {
    
}
#content-right{
    float: right;
    width: 300px;
    background: red;
    height: 100%;

}

#logo {
    color: white;
    width: 114px;
    display: inline-block;

}

#logo img {
    height: 42px;
}

.nav-tab {
    display: inline-block;
    font-weight: bold;
    color: #369;
    background: #eff7ff;
    font-size: 0.7em;
    padding: 4px 8px 1px 8px;
    text-decoration: none;
}

.nav-tab.active {
    color: orangered;
    background: white;
    border-top: 1px solid #5f99cf;
    border-left: 1px solid #5f99cf;
    border-right: 1px solid #5f99cf;
    border-bottom: 1px solid white;
    
}

.right-thing {
    background: #EFF7FF;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px;
    border-top-left-radius: 5px;
    font-size: 0.6em;
    color: grey;
    line-height: 12px;
    font: normal x-small verdana,arial,helvetica,sans-serif;
    
}

.right-thing a {
    text-decoration: none;
}

.tab-wrap { 
    display: inline-block;
}

.toppest-link {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
}

.toppest-link.active {
    color: orangered;
    font-weight: bold;
}

.toppest-link:hover {
text-decoration: underline;
}

.toppest-sep {
}

.my-subreddits {
    margin-right: 30px;
    margin-left: 5px;
    display: inline;
    padding-bottom: 10px;
}

.down-arrow {
    position: absolute;
    margin-top: 7px;
    margin-left: 3px;
    width: 0;
    height: 0;
    border-top: 6px solid #888;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.my-subreddits:hover #my-subreddit-menu {
    display: block;
}

#my-subreddit-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #666;
    top: 19px;
    left: 5px;
    z-index: 99;

}

#my-subreddit-menu a {
    display: block;
    text-decoration: none;
    color: #369;
    text-transform: uppercase;
    line-height: 15px;
    padding: 0 5px;
}


#my-subreddit-menu a:hover {
    background: #c7def7;
}

